.backgroundSize {
    height: 700px;
    width: 700px;
    margin: auto;
    width: 50%;
    border: 3px solid #282c34;
    padding: 10px;
    margin-top: 10px;
 }

 .starButton {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
 }
 .on {
   color: gold;
 }
 .off {
   color: #ccc;
 }