.backgroundSize {
    height: 750px;
    width: 50%;
    border: 2px solid #1c54b2;
    padding: 20px;
    margin-top: 10px;
    text-align: left;
    border-radius: 50px 50px 50px 50px;
    float: left;
    overflow: hidden;
 }

 .backgroundRating {
   height: 350px;
   width: 44%;
   border: 2px solid #1c54b2;
   padding: 20px;
   margin-top: 10px;
   text-align: left;
   border-radius: 50px 50px 50px 50px;
   float: right;
   overflow: scroll;

}

.backgroundNoty {
   height: 390px;
   width: 44%;
   border: 2px solid #1c54b2;
   padding: 20px;
   margin-top: 10px;
   text-align: left;
   border-radius: 50px 50px 50px 50px;
   float: right;
   overflow: hidden;

}

.backgroundNotyPage {
   height: 750px;
   width: 55%;
   border: 2px solid #1c54b2;
   padding: 20px;
   text-align: left;
   border-radius: 50px 50px 50px 50px;
    overflow: hidden;
   margin: auto;

}

.messages {
   height: 500px;
   width: 40%;
   border: 2px solid #1c54b2;
   padding: 20px;
   text-align: center;
   border-radius: 50px 50px 50px 50px;
   margin: auto;
   margin-top: 50px;
}

.backgroundFindTutor {
   height: 750px;
   width: 100%;
   border: 2px solid #1c54b2;
   padding: 20px;
   text-align: left;
   border-radius: 50px 50px 50px 50px;
   overflow: hidden;
   margin: auto;
   margin-top: 10px;
}

.styling {
   height: 30px;
   width: 20%;
   border: 2px solid #1c54b2;
   padding: 20px;
   border-radius: 50px 50px 50px 50px;
   text-align: center;
   margin-top: 10px;
}

.tutorStyling {
   text-align: right;
   margin-top: 10px;
}

 .starButton {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
 }
 .on {
   color: goldenrod;
 }
 .off {
   color: #777;
 }

 .textAlign {
   text-align: center;
 }

 .textAlignTitle {
   text-align: left;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
 }
 
 th, td {
   text-align: left;
   padding: 16px;
 }
 
 tr:nth-child(even) {
   background-color: #f2f2f2;
 }

 tr:nth-child(odd) {
   background-color: #d9d9d9;
 }

 body {
   background:white;
   overflow: scroll;
 }
 
 .theBox {
   width: 300;
   height: 104;
   padding: 10px 10px;
   margin: auto;
   background: rgba(255,255,255,0.6);
   box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
   border-radius: 4px;
   margin: 15px;
   position: auto;
 }
 
 .notificationList {
   margin: auto;
   width: 450px;
   position: relative;
 }

 .messageText {
   font-size: large;
   font-weight: bold;
 }

 .messageTextSpace {
   font-size: large;
   font-weight: bold;
   margin-left: 10px;
   margin-top: 10px;
 }
 
.message{
    color:red;
}