.backgroundSize {
    height: 750px;
    width: 55%;
    border: 5px solid #282c34;
    padding: 20px;
    margin-top: 10px;
    text-align: left;
    border-radius: 50px 50px 50px 50px;
    float: left;
 }

 .backgroundRating {
   height: 350px;
   width: 44%;
   border: 5px solid #282c34;
   padding: 20px;
   margin-top: 10px;
   text-align: left;
   border-radius: 50px 50px 50px 50px;
   float: right;
}

.backgroundNoty {
   height: 390px;
   width: 44%;
   border: 5px solid #282c34;
   padding: 20px;
   margin-top: 10px;
   text-align: left;
   border-radius: 50px 50px 50px 50px;
   float: right;
}

 .starButton {
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
 }
 .on {
   color: goldenrod;
 }
 .off {
   color: #777;
 }

 .textAlign {
   text-align: center;
 }